body{
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 20%;
    background-color: lightgray;
}
h1{
    font-family:sectsFont;
    font-size: 5rem;
    padding: 4px;
    margin: 0rem;
    width:400px;
    text-align: center;
}

h2{
    font-family:sectsFont;
    font-size: 2rem;
    border: 4px double black;
    padding: 2px;
    background-color: white;
    margin: 10px;
}
p{
    border: 2px solid black;
    font-size: 2rem;
    padding:6px;
    background-color: white;
    margin: 10px;
    font-family:sectsFont;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration:wavy;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration:wavy;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.underlinebold{
  text-decoration-line: underline;
  text-decoration-color: black;
  font-weight: bold;
}
.bold{
  font-weight: bold;
  text-decoration: none;
}
.centered-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fit{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: fit-content;
}
.fitrow{
  display: flex;
  margin-right: auto;
  width: fit-content;
}
.dates{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  max-width: 50rem;
}
.untitled{
  width: 50rem;
}

.oldfit{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.highlight:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px black;
}

@font-face {
  font-family: sectsFont; /* set name */
  src: url(fonts/Lettergun-Regular.ttf); /* url of the font */
}

.big{
  font-size: 100rem;
}

#ypsipop {
  font-family:sectsFont;
  font-size: 1.5rem;
  width: 350px;
}

#ypsipop table {
  background-color: beige;
}

#ypsipop .webring-info {
   text-align:center;
   padding-right: 30px;
}

#ypsipop .webring-links {
  font-size:1.25rem;
}