body{
    background-image:url(Images/AnimatedBackground.gif);
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 4px outset black;
    padding: 4px;
    background-image: url(Images/AnimatedButton.gif);
    margin: 10px;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 4px double black;
    padding: 2px;
    background-color: white;
    margin: 10px;
}
p{
    border: 1px solid black;
    padding:6px;
    background-color: white;
    margin: 10px;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration:wavy;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration:wavy;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.underlinebold{
  text-decoration-line: underline;
  text-decoration-color: black;
  font-weight: bold;
}
.bold{
  font-weight: bold;
  text-decoration: none;
}
.centered-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fit{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: fit-content;
}
.dates{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  max-width: 40rem;
}
.untitled{
  width: 50rem;
}

.oldfit{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.highlight:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  box-shadow: 10px 10px 5px black;
}
